img {
	border-bottom: 1px dotted green;
	margin: auto;
	display: block;
	width: 978px;
}

img:last-of-type {
	border-bottom: 12px solid pink;
}

#wrapper {
	padding-top: 85px;
	display: block;
	position: relative;
}

div#dimm {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: black;
	opacity:0.6;
}
#dimm p {
	margin: 0px;
}

body {
	background-image: url("../background.jpg");
	overflow-x: hidden;
	margin: 0px;
}

img.linked {
	width:1200px;
	height:1550px;
}

div > img.linked {
	width:1200px;
	height:1550px;
}

#center {
	width: 1300px;
	margin: 0px auto;
}

#chapters {
	background-color: bisque;
	width: 600px;
}

#chapters > a {
	padding-top: 10px;
	color: navy;
}

#chapters span {
  font-family: Verdana;
  font-weight: 800;
  font-size: 20px;
  padding-left: 60px;
  color: rgb(78, 171, 157);
}

#chapters div {
  font-family: Verdana;
  font-weight: 800;
  text-align: center;
  color: deeppink;
  margin-top: 20px;
}

.chapters > a {
	padding-top: 10px;
	color: navy;
}

.anchors {
	display: inline-block;
	width:	510px;
	margin-top: 20px;
}

.content a{
	color: black;
}

a {
	display: inline-block;
	font-size: 24px;
	color: blue;
	margin-right: 250px;
	margin-left: 50px;
	border-bottom: 1px dotted green;
	width: 510px;
}
